
h1 {
 text-align: center;
 color: #e54761;   
}


table, td, th {
	border: 1px solid green;
	font-size: 1em;
	border: 1px solid #e2f7ec;
	padding: 3px 7px 2px 7px;
	border-collapse: collapse;
	text-align: left;
}
th {
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #70a288;
	color: #ffffff;
}

tr.odd td {
	color: #000000;
	background-color: #EAF2D3;
}

ul.a {
	list-style-type: none;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
